@import '../../scss/default/color_variable';

.cs-cursor_lg {
  width: 40px;
  height: 40px;
  border: 1px solid $accent;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: 0.15s;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
  /* No content inside this element */
}

.cs-cursor_sm {
  width: auto;
  height: auto;
  background-color: transparent;
  left: 15px;
  top: 15px;
  pointer-events: none;
  transition: 0.2s;
  font-size: 14px;
  color: $accent;
  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.cs-cursor_sm::before {
  content: '♪';
  font-size: 18px;
  color: inherit;
}

@media screen and (max-width: 575px) {
  .cs-cursor_lg,
  .cs-cursor_sm {
    display: none;
  }
}
