a{
    text-decoration: none !important;
}

.cs-section_heading.cs-style1 h3
{
    font-size: 22px;
    font-weight: 600;
}

.cs-section_heading.cs-style1 h2
{
    font-size: 54px;
    font-weight: 700;
}
.cs-height_90.cs-height_lg_45 {
    height: 0;
}
